@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

body{
  background-color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
}

/* hide-scrollbar class hides scrollbars in WebKit/Blink and Firefox/IE */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Safari and Chrome */
}
